@model SistemaLicencias.WebUI.Models.TipoLicenciasViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TipoLicenciasViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tili_Id" class="control-label"></label>
                <input asp-for="tili_Id" class="form-control" />
                <span asp-validation-for="tili_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tili_Descripcion" class="control-label"></label>
                <input asp-for="tili_Descripcion" class="form-control" />
                <span asp-validation-for="tili_Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tili_UsuCreacion" class="control-label"></label>
                <input asp-for="tili_UsuCreacion" class="form-control" />
                <span asp-validation-for="tili_UsuCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tili_FechaCreacion" class="control-label"></label>
                <input asp-for="tili_FechaCreacion" class="form-control" />
                <span asp-validation-for="tili_FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tili_UsuModificacion" class="control-label"></label>
                <input asp-for="tili_UsuModificacion" class="form-control" />
                <span asp-validation-for="tili_UsuModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tili_FechaModificacion" class="control-label"></label>
                <input asp-for="tili_FechaModificacion" class="form-control" />
                <span asp-validation-for="tili_FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tili_Estado" class="control-label"></label>
                <input asp-for="tili_Estado" class="form-control" />
                <span asp-validation-for="tili_Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

