
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Html.ActionLink("ReportesAprobados", "ReportesAprobados")
@Html.ActionLink("ReportesRechazos", "ReportesRechazos")*@

<div class="card">
    <div class="card-header text-center" style="background: radial-gradient(circle, rgba(30,45,93,1) 50%, rgba(32,164,140,1) 100%); ">
        <h2 class="text-white">Reportes de solicitudes</h2>
    </div>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-lg-6 col-md-12">
                <div class="ibox ">
                    <div class="ibox-title text-center">
                        <h5>Solicitudes aprobadas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" href="index.html">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link" href="index.html">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content text-center">
                        <a asp-action="ReportesAprobados">
                            <img style="height:150px;" src="~/gif/success.gif"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Solicitudes rechazadas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" href="index.html">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link" href="index.html">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content text-center">
                        <a asp-action="ReportesRechazos">
                            <img style="height:150px;" src="~/gif/failed.gif" />
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="~/js/App/Licencias/Reportes.js"></script>