@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid wrapper border-bottom white-bg">

    <div class="text-center row d-flex justify-content-center">
        <h1 class="display-4">Licencias licenciado</h1>
    </div>



</div>
<input id="CantidadHombres" type="text" value="@ViewBag.Hombre" hidden />
<input id="CantidadMujeres" type="text" value="@ViewBag.Mujer" hidden />





<div class="row mt-3">
    <div class="col-lg-6 col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Hombres y mujeres aprobados</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" href="index.html">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link" href="index.html">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <canvas id="doughnutChart" height="140"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Haz tu solicitud</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" href="index.html">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link" href="index.html">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content text-center">
                <a href="/Solicitud"  > <img class="mb-4" src="~/gif/42809-driving-license-scanning-unscreen (1).gif" /></a>
               
            </div>
        </div>

    </div>
</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/js/inspinia.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>

<!-- ChartJS-->
<script src="~/js/plugins/chartJs/Chart.min.js"></script>
<script src="~/js/demo/chartjs-demo.js"></script>