@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Licencias licenciado</h1>

    <img src="~/gif/42809-driving-license-scanning-unscreen (1).gif" />
    <h2 class="display-4">Las unicas y mejores</h2>
</div>
