@model SistemaLicencias.WebUI.Models.SolicitantesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SolicitantesViewModel</h4>
<hr />
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <input asp-for="soli_Id" type="text" class="form-control"  hidden/>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Nombre" class="control-label"></label>
                        <input asp-for="soli_Nombre" class="form-control" />
                        <span asp-validation-for="soli_Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Apellido" class="control-label"></label>
                        <input asp-for="soli_Apellido" class="form-control" />
                        <span asp-validation-for="soli_Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Identidad" class="control-label"></label>
                        <input asp-for="soli_Identidad" class="form-control" />
                        <span asp-validation-for="soli_Identidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="soli_Sexo" class="control-label"></label>
                        <div>
                            <input type="radio" asp-for="soli_Sexo" value="F" /> Femenino
                            <input type="radio" asp-for="soli_Sexo" value="M" /> Masculino
                        </div>
                        <span asp-validation-for="soli_Sexo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_FechaNacimiento" class="control-label"></label>
                        <input asp-for="soli_FechaNacimiento" class="form-control" />
                        <span asp-validation-for="soli_FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Telefono" class="control-label"></label>
                        <input asp-for="soli_Telefono" class="form-control" />
                        <span asp-validation-for="soli_Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Departamentos</label>

                        <select id="depa_Id" name="depa_Id" class="form-control" asp-items="ViewBag.depa_Id">
                            <option value=""> -- Seleccione un Departamento -- </option>
                        </select>
                        <h7 style="color:red">@Html.ValidationMessage("ValidacionDepartamento") </h7>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Municipio</label>
                        <select asp-for="muni_Id" id="muni_Id" name="muni_Id"  class="form-control" asp-items="ViewBag.muni_Id" >
                            <option value="">-- Seleccione un Municipio --</option>
                        </select>
                        <h7 style="color:red">@Html.ValidationMessage("ValidacionMunicipio") </h7>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Direccion" class="control-label"></label>
                        <input asp-for="soli_Direccion" class="form-control" />
                        <span asp-validation-for="soli_Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_UsuModificacion" class="control-label"></label>
                        <input asp-for="soli_UsuModificacion" class="form-control" />
                        <span asp-validation-for="soli_UsuModificacion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>

        $(document).ready(function () {

            if ($("#muni_Id").val() == "") {

                $.getJSON('/Solicitante/MunicipiosDropDownList', { id: $("#depa_Id").val() })

                    .done(function (municipios) {

                        console.log(municipios)

                        $("#muni_Id").prop("disabled", false);
                        var municipiosSelect = $('#muni_Id');
                        municipiosSelect.empty();

                        municipiosSelect.append($('<option>', {
                            value: '',
                            text: '--Selecciona un municipio--'
                        }));

                        $.each(municipios, function (index, item) {
                            municipiosSelect.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));

                        });

                        


                    })

                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.error('Error al cargar los municipios: ' + textStatus + ', ' + errorThrown);
                    });

            }



        });













        $("#depa_Id").change(function () {
            var departamentoId = $("#depa_Id").val();

            $.getJSON('/Solicitante/MunicipiosDropDownList', { id: departamentoId })

                .done(function (municipios) {

                    console.log(municipios)

                    $("#muni_Id").prop("disabled", false);
                    var municipiosSelect = $('#muni_Id');
                    municipiosSelect.empty();

                    municipiosSelect.append($('<option>', {
                        value: '',
                        text: '--Selecciona un municipio--'
                    }));

                    $.each(municipios, function (index, item) {
                        municipiosSelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));

                    });

                })

                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('Error al cargar los municipios: ' + textStatus + ', ' + errorThrown);
                });

        });
    </script>

}


