@model SistemaLicencias.WebUI.Models.SolicitantesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="border:1px solid #283c4c;">
    <div class="card-header text-center" style="background: rgb(30,45,93); background: radial-gradient(circle, rgba(30,45,93,1) 50%, rgba(0,193,199,1) 100%); ">

        <div class="row">
            <div class="col">
                <h1 class="text-white" style="margin-top:0px;">Editar Solicitante</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col">
                <h4 class="text-white">Edita los datos del Solicitante</h4>
            </div>
        </div>

    </div>
    <div class="card-body">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <input asp-for="soli_Id" type="text" class="form-control" hidden />


                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Nombre" class="control-label"></label>
                        <input asp-for="soli_Nombre" class="form-control" />
                        <span asp-validation-for="soli_Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Apellido" class="control-label"></label>
                        <input asp-for="soli_Apellido" class="form-control" />
                        <span asp-validation-for="soli_Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Identidad" class="control-label"></label>
                        <input asp-for="soli_Identidad" data-mask="9999-9999-99999" class="form-control" />
                        <span asp-validation-for="soli_Identidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="soli_Sexo" class="control-label"></label>
                        <div>
                            <input type="radio" asp-for="soli_Sexo" value="F" /> Femenino
                            <input type="radio" asp-for="soli_Sexo" value="M" /> Masculino
                        </div>
                        <span asp-validation-for="soli_Sexo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_FechaNacimiento" class="control-label"></label>
                        <input asp-for="soli_FechaNacimiento" class="form-control" />
                        <span asp-validation-for="soli_FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Telefono" class="control-label"></label>
                        <input asp-for="soli_Telefono" data-mask="9999-9999" class="form-control" />
                        <span asp-validation-for="soli_Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Departamentos</label>

                        <select id="depa_Id" name="depa_Id" class="form-control" asp-items="ViewBag.depa_Id">
                            <option value=""> -- Seleccione un Departamento -- </option>
                        </select>
                        <h7 style="color:red">@Html.ValidationMessage("ValidacionDepartamento") </h7>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Municipio</label>
                        <select asp-for="muni_Id" id="muni_Id" name="muni_Id" class="form-control" asp-items="ViewBag.muni_Id">
                            <option value="">-- Seleccione un Municipio --</option>
                        </select>
                        <h7 style="color:red">@Html.ValidationMessage("ValidacionMunicipio") </h7>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="soli_Direccion" class="control-label"></label>
                        <input asp-for="soli_Direccion" class="form-control" />
                        <span asp-validation-for="soli_Direccion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    @*<button class="btn btn-warning mx-1" type="button" id="btnEditar" onclick="AbrirModalEdit('@item.carg_Id,@item.carg_Descripcion')">Editar</button>*@
                    <a class="btn btn-secondary mx-1" asp-action="Index">Regresar al listado</a>
                    <button type="submit" class="btn btn-primary">Editar Solicitante</button>
                </div>
            </div>

        </form>


    </div>


</div>


<script src="~/js/App/Licencias/Solicitante.js"></script>


