
@model SistemaLicencias.WebUI.Models.UsuariosViewModel


<div class="modal inmodal" id="ModalCreate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated" id="ModalCreateClass">
            <div class="modal-header">
                <h4 class="modal-title">Agregar</h4>
                <small class="font-bold">Ingrese un Nuevo Usuario</small>
            </div>
            <div class="modal-body">
                <form asp-action="Create" id="FormCreate">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nombre Usuario</label>
                                <input asp-for="user_NombreUsuario" id="user_NombreUsuarioInsert" class="form-control" />
                                <span id="lbuser_NombreUsuarioInsert" class="text-danger" hidden>Este campo es requerido</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Contraseña</label>
                                <input asp-for="user_Contrasena" id="user_ContrasenaInsert" class="form-control" />
                                <span id="lbuser_ContrasenaInsert" class="text-danger" hidden>Este campo es requerido</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Rol</label>
                                <select asp-for="role_Id" id="role_IdInsert" class="form-control" asp-items="ViewBag.role_Id">
                                    <option value="0"> -- Seleccione un Rol -- </option>
                                </select>
                                <span id="lbrole_IdInsert" class="text-danger" hidden>Este campo es requerido</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Empleado</label>
                                <select asp-for="empe_Id" id="empe_IdInsert" class="form-control" asp-items="ViewBag.empe_Id">
                                    <option value="0"> -- Seleccione un Empleado -- </option>
                                </select>
                                <span id="lbempe_IdInsert" class="text-danger" hidden>Este campo es requerido</span>
                            </div>
                        </div>  
                        <div class="col-sm-6">
                            <label class="control-label">Es Admin</label>
                            <div class="form-group">
                                <!-- Rounded switch -->
                                <label class="switch">
                                    <input style="margin-left:-10px" type="checkbox" asp-for="user_EsAdmin" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="PostModalCreate()">Agregar</button>
            </div>
        </div>
    </div>
</div>
