
@model SistemaLicencias.WebUI.Models.UsuariosViewModel


<div class="modal inmodal" id="ModalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated" id="ModalDeleteClass">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
                <small class="font-bold">Eliminara el siguiente registro</small>
            </div>
            <div class="modal-body text-center">
                <h4 class="padding-top-30 mb-30 weight-500">¿Desea eliminar este registro?</h4>
                <form asp-action="Delete" id="formDelete">
                    <input asp-for="user_Id" hidden id="user_IdDelete" class="form-control" />

                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" onclick="PostModalDelete()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

